.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  pointer-events: none;
}

.people-image{
  height: 125px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo{
    animation: App-logo-spin infinite 3s linear alternate;
  }
  
  .people-image {
    animation: people-image-spin infinite 0.4s linear alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes people-image-spin {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: translate(-35vw);
  }
  to {
    transform: translate(35vw);
  }
}
